h1 
{
  text-align: center;
  font-size:14pt;
  font-family:arial,helvetica;
  font-weight:bold;
  padding:10px; 
}

body
{

  background-color: #610B0B;
  color:black;

  font-size:8pt;
  font-family:arial,helvetica;
}

.menu
{
  margin: 4px;
  width:99%;
  color: white;
  padding:2px;
	
  border: solid 2px;
  background-color: #ac0101;
  text-align:center;
  
  font-size:16pt;
  font-weight: bold;
  font-family:arial,helvetica;  
}

div.menubox
{
  width: 25%;
  
  border: 0;
  float: left;
text-align: center;
}

div.menubox a
 {
    color: white;
}

.contentblock
{  
  margin: 4px;
  width:99%;

  padding:2px;

  border: 1px dotted;
  background-color: #D8D8D8;

  font-size:8pt;
  font-family:arial,helvetica;  

}

p.intro
{
  margin-left:20px;
  margin-right:20px;

  font-size:10pt;
/*  font-weight:bold; */
  font-family:arial,helvetica;  
}

p.clink
{
  font-size:12pt;
  font-family:courier,monospace;  
  text-align:center;
}

p.clink9
{
  font-size:9pt;
  font-family:courier,monospace;  
  text-align:center;
}


p
{
  padding-left:10px;
}

p.right
{
  text-align:right; 
}

